/* 
Цвет основного текста #757575;
Вторичный цвет текста #212121;
Цвет логотипа футера #000000;
Цвет текста кнопок #ffffff;
Цвет текста футера #ffffff;
Акцент цвета текста футера rgba(255, 255, 255, 0.6);
Акцент #2196F3;
Основной цвет фона #F5F5F5;
Вторичный цвет фона #F5F4FA;
Цвет фона хедера #ffffff;
Цвет фона герой #2F303A;
Цвет активации кнопки #188CE8;
Цвет фона футера #2F303A; 
*/

:root {
    /* текст */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --logo-text-color: #000000;
    --button-text-color: #ffffff;
    --footer-text-color: #ffffff;
    --accent-color-text-footer: rgba(255, 255, 255, 0.6);
     /* фон */
    --accent-color: #2196F3;
    --background-color-page: #F5F5F5;
    --secondary-background-color-pag: #F5F4FA;
    --background-color-header: #ffffff;
    --booton-activ-color: #188CE8;
    --background-color-footer: #2F303A;
    /* рамка */
    --color-border-projects: #eeeeee
}

.body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.list {
    list-style: none;

    margin: 0;
    padding: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

/* Header */
.page-header {
    background-color: var(--background-color-header);

    
    border-bottom: 1px solid var(--color-border-projects);
    
    letter-spacing: 0.02em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1200px;
}

/* Логотип header*/
.logo {
    color: currentColor;
    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-web {
    color: currentColor;
    color: var(--logo-text-color);
    
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* Site nav */
.nav-link {
    color: currentColor;
    color: var(--title-text-color);

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.site-nav .nav-link:hover, 
.site-nav .nav-link:focus {
color: var(--accent-color);
}
.link-current {
    color: currentColor;
    color: var(--accent-color);
    
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

/* Авторизація */
.auth-link-mail {
    color: currentColor;
    color: var(--primary-text-color);

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.auth-link-mail:hover,
.auth-link-mail:focus {
color: var(--accent-color);
}
.auth-link-tel {
    color: currentColor;
    color: var(--primary-text-color);
    
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}
.auth-link-tel:hover,
.auth-link-tel:focus {
    color: var(--accent-color);
}

/* Main */

/* Блок герой */
.hero {
    text-align: center;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--button-text-color);
    background-color: var(--background-color-footer);
    
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
}
.hero-button {
display: inline-block;
padding: 10px 32px;
min-width: 216px;
border-radius: 4px;
border: 1px solid transparent;


background-color: var(--accent-color);
color: var(--button-text-color);

font-family: inherit;
letter-spacing: 0.06em;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--booton-activ-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}
/* Особливості */
.features-title {
margin-top: 0;
margin-bottom: 10px;

color: var(--title-text-color);

letter-spacing: 0.03em;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.features-text {
margin-top: 0;
margin-bottom: 0;

color: var(--primary-text-color);

letter-spacing: 0.03em;
font-size: 14px;
line-height: 1.17;
}
/* Чим ми займаємося */
.work-title {
margin-top: 0;
margin-bottom: 50px;

color: var(--title-text-color);

letter-spacing: 0.03em;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.work-item {
margin-top: 0;
margin-bottom: 0;
}

/* Наша команда */
.fon {
    background-color: var(--secondary-background-color-pag);
}
.team-title {
margin-top: 0;
margin-bottom: 50px;

color: var(--title-text-color);

letter-spacing: 0.03em;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.team-item {
padding-top: 0;
padding-bottom: 0;
background-color: var(--background-color-header);
}

.team-name {
margin-top: 30px;
margin-bottom: 10px;

color: var(--title-text-color);

letter-spacing: 0.03em;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
}
.team-text {
padding-bottom: 30px;
margin-top: 0;
margin-bottom: 0;

color: var(--primary-text-color);

letter-spacing: 0.03em;
font-size: 16px;
line-height: 1.19;
}
/* Footer */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color-footer); 
}
/* Логотип Footer */
.footer-logo {
    margin-top: 0;
    margin-bottom: 0;

    color: currentColor;
    color: var(--accent-color);
    
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

}

.logo-footer-web {
    color: var(--footer-text-color);

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
/* Адреса Footer */
.address {
    margin-top: 20px;
    margin-bottom: 0;

    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.19;
}
.footer-link-address {
    margin-top: 0;
    margin-bottom: 9px;

    color: currentColor;
    color: var(--footer-text-color);
    
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}
.footer-link-mail {
    margin-top: 0;
    margin-bottom: 9px;

    color: currentColor;
    color: var(--accent-color-text-footer);
    
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}
.footer-link-tel {
        margin-top: 0;
        margin-bottom: 0;

    color: currentColor;
    color: var(--accent-color-text-footer);
    
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
} 
.footer-link-mail:hover,
.footer-link-mail:focus {
    color: var(--accent-color);
}
.footer-link-tel:hover,
.footer-link-tel:focus {
    color: var(--accent-color);
}
.footer-link-address:hover,
.footer-link-address:focus {
    color: var(--accent-color);
}
/* ---------ПОРТФОЛІО--------- */
/* Кнопки */
.filter-button {
margin-top: 0;
margin-bottom: 50px;

display: inline-block;
padding: 6px 22px;
min-width: 73px;
border-radius: 4px;
border: 1px solid transparent;

color: var(--title-text-color);
background-color: var(--secondary-background-color-pag);

font-family: inherit;
letter-spacing: 0.03em;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--button-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Проекти */
.projects-link {
margin-top: 0;
margin-bottom: 30;

color: currentColor;
text-decoration: none;
}
.projects-title {
color: var(--title-text-color);

letter-spacing: 0.06em;
font-weight: 700;
font-size: 18px;
line-height: 2.0;
}
.projects-text {
color: var(--primary-text-color);

letter-spacing: 0.03em;
font-size: 16px;
line-height: 1.88;
}
.projects-name {
    margin-top: 0;
    margin-bottom: 30px;
    border-top: 1px solid transparent;
    border-right: 1px solid var(--color-border-projects);
    border-bottom: 1px solid var(--color-border-projects);
    border-left: 1px solid var(--color-border-projects);
}